<section class="article-header">
  <div class="container">
    <h1>À propos</h1>
  </div>
</section>

<div class="container">
  <p>Parce que bon, les pages à propos sont à la mode.</p>
  <p>Mon nom est Michaël Zwyssig, je fais plein de choses mais actuellement je suis indépendant développeur et consultant web
    Fullstack, et je travailles également au Media Engineering Institute à la HEIG-VD, Yverdon-les-Bains.</p>
  <p>Je me rappelle plus comment m’est venu l’idée du nom « Loutre ». Je trouvais ça sans doute original. Et ça sonne bien.
    Et le nom de domaine était disponible.</p>
  <p>Ceci est la quatrième (cinquième ?) version du site, hébergée sur <a href="http://angular.io">Angular</a>.</p>
  <p>Le contenu du site (textes, photographies) est sous license Copyleft <strong><a href="http://creativecommons.org/licenses/by-sa/3.0/ch/deed.fr_CH">Creative Commons by-sa</a></strong></p>
  <span property="dc:title" content="À propos" class="rdf-meta element-hidden"></span>
</div>
