<div *ngIf="loading" class="cssload-container">
  <ul class="cssload-flex-container">
    <li>
      <span class="cssload-loading"></span>
    </li>
  </ul>
</div>
<div class="banner" *ngIf="article && article.top_image" [style.backgroundImage]="'url('+ article?.top_image+')'"></div>

<article *ngIf="article">
  <section class="article-header">
    <div class="">
      <h1 class="article-title" [innerHTML]="article?.title | safeHtml"></h1>
    </div>

    <footer class="submitted container">
      <h4>
        <span class="author" rel="sioc:has_creator">Par <a routerLink="/a-propos" title="Voir le profil utilisateur." class="username" xml:lang="" about="/users/mzw" typeof="sioc:UserAccount" property="foaf:name" datatype="">Michaël Zwyssig</a></span><br>
        <span class="date" property="dc:date dc:created" datatype="xsd:dateTime">{{article?.pub_date | date}}</span>
      </h4>
    </footer>

  </section>

  <section class="teaser">
    <div class="container">
      <div class="field-item teaser-field" property="schema:summary schema:description">
        <p [innerHTML]="article?.teaser | safe:'html'"></p>
      </div>
    </div>
  </section>
  <section class="body">
    <div class="container">
      <div class="field-item" property="content:encoded" [innerHTML]="article?.body | safeHtml"> </div>
    </div>
  </section>
</article>
<section id="comments">
	<div class="container">
	<disqus [identifier]="'node/' + article?.id"></disqus>
	</div>
</section>
