<div *ngIf="loading" class="cssload-container">
  <ul class="cssload-flex-container">
    <li>
      <span class="cssload-loading"></span>
    </li>
  </ul>
</div>
<div  class="banner" *ngIf="article && article.top_image" [style.backgroundImage]="'url('+ article?.top_image+')'"></div>

<article *ngIf="article" itemprop="blogPost" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
  <img [src]="article?.top_image" alt="top image" itemprop="image" [style.display]="'none'"/>

  <section class="article-header">
    <div class="">
      <h1 class="article-title" [innerHTML]="article?.title | safeHtml" itemprop="headline"></h1>
    </div>

    <footer class="submitted container" *ngIf="article && article.title != '404'">
      <h4>
        <span class="author" rel="sioc:has_creator">Par <a routerLink="/a-propos" title="À propos" class="username" xml:lang="" about="/a-propos" typeof="sioc:UserAccount" property="foaf:name" datatype="" itemprop="author" rel="author" itemscope itemtype="http://schema.org/Person">Michaël Zwyssig</a></span><br>
        <span class="date" ><time property="dc:date dc:created" datatype="xsd:dateTime" itemprop="datePublished" [attr.content]="article?.pub_date" [attr.datetime]="article?.pub_date">{{article?.pub_date | date:'dd.MM.y'}}</time></span>
      </h4>
    </footer>

  </section>

  <section class="teaser" itemprop="description" >
    <div class="container">
      <div class="field-item teaser-field" property="schema:summary schema:description">
        <p [innerHTML]="article?.teaser | safe:'html'"></p>
      </div>
    </div>
  </section>
  <section class="body" itemprop="articleBody">
    <div class="container">
      <div class="field-item" property="content:encoded" [innerHTML]="article?.body | safeHtml"> </div>
    </div>
  </section>
</article>
<section id="comments" *ngIf="article && article.title != '404'">
	<div class="container">
	<disqus [identifier]="'node/' + article?.id"></disqus>
	</div>
</section>
<meta itemprop="url" content="https://loutre.ch{{slug}}">
